body {
    background-color: #e8a643;
    color: #ffffff;
    min-height: 100vh;
}
form {
    /* background-color: #e8a643; */
    color: #000000;
    min-height: 10vh;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}
.navbar {
    height: 70px;
  }

.pic {
    align-items: center;
    max-width: 40%;
    height: auto;
}

  