{% extends 'base.html' %}
{% block title %}Home{% endblock  %}
{% block content %}
<div class="jumbotron mt-5" style="background-color: #c6c2ba;">
    <h1 class="display-4 text-dark">Hello, friends!</h1>
    <p class="lead">Welcome to Friendly, where it's easy to meet and connect with like-minded people!</p>
    <hr class="my-4">
    <p>  Click below to get start</p>
    <p class="lead ">
      <a class="btn btn-success btn-lg mt-2" href="#" role="button">Sign up</a>
      <a class="btn btn-secondary btn-lg mt-2" href="#" role="button">Login</a>
    </p>
  </div>
{% endblock %}
