{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 text-center">Latest Posts</h1>
    <div class="row g-8">
      {% for post in posts %}
      <div class="col-md-4">
        <a href="{% url 'post_detail' post.pk %}">
          <div class="card mb-4 d-flex">
            <img src="{{post.img}}" alt="{{post.title}}"  />
          </div>
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{ post.body }}</p>
        </div>
      </div>
      {% empty %}
      <div class="col">
        <div class="alert alert-info" role="alert">
          No Blog Posts Available
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
