{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 text-center">Latest Blog Posts</h1>
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
        <a href="{% url 'post_detail' post.pk %}">
          <div class="card mb-4">
            <img src="{{post.img}}" alt="{{post.title}}" class="card-img-top" />
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <div class="col">
        <div class="alert alert-info" role="alert">
          No Blog Posts Available
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

