{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
<div class="container mt-5 bg-white"> <!-- Add 'mt-5' for top margin and 'bg-white' for white background -->
  <div class="row justify-content-center"> <!-- Use 'row' and 'justify-content-center' to center the container -->
    <div class="col-md-8"> <!-- Adjust the 'col-md-8' value according to your desired column width -->
      <div class="content">
        <h1 class="title">{{ post.title }}</h1>
        <img src="{{ post.img }}" alt="{{ post.title }}" class="post-image img-fluid rounded" /> <!-- Add 'img-fluid' to make the image responsive and 'rounded' for a rounded border -->
        <p>{{ post.body }}</p>
      </div>
      <div class="text-center"> <!-- Use 'text-center' to center the Update and Delete buttons -->
        <a href="{% url 'post_update' post.pk %}" class="btn btn-info">
          Update
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        </a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">
          Delete
          <span class="icon">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}