{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container mt-5 bg-white">
  <div class="row justify-content-center"> 
    <div class="col-md-8"> 
      <div class="content">
        <h1 class="title">{{ post.title }}</h1>
        <img src="{{ profile.profile_img }}" class="post-image img-fluid rounded"  /> 
        <p>{{ profile.bio }}</p>
      </div>
      <div class="text-center"> 
        <a href="{% url 'profile_update' user.profile.pk %}">
          Update
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
